In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('glassdoor_jobs.csv')
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [3]:
df.shape

(956, 15)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956 entries, 0 to 955
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         956 non-null    int64
 1   Job Title          956 non-null    object
 2   Salary Estimate    956 non-null    object
 3   Job Description    956 non-null    object
 4   Rating             956 non-null    float64
 5   Company Name       956 non-null    object
 6   Location           956 non-null    object
 7   Headquarters       956 non-null    object
 8   Size               956 non-null    object
 9   Founded            956 non-null    int64
 10  Type of ownership  956 non-null    object
 11  Industry           956 non-null    object
 12  Sector             956 non-null    object
 13  Revenue            956 non-null    object
 14  Competitors        956 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 112.2+ KB

In [27]:
# Salary parsing

df = df[df['Salary Estimate']!='-1']

salary = df['Salary Estimate'].apply(lambda x : x.split('(')[0])

minus_kd = salary.apply(lambda x : x.replace('$','').replace('K',''))

min_hr = minus_kd.apply (lambda x : x.lower().replace('per hour','').replace('employer provided salary:',''))

df['min_salary'] = min_hr.apply(lambda x: x.split('-')[0]).astype(int)

df['max_salary'] = min_hr.apply(lambda x: x.split('-')[1]).astype(int)

df['average_salary'] = (df['max_salary']+df['min_salary']) / 2

In [7]:
df.shape

(742, 15)

In [34]:
# Company name text only
df['Company_txt'] = df.apply(lambda x: x['Company Name'] if x['Rating']<0 else x['Company Name'][:-3],axis=1)

In [40]:
# State field
df['job_state'] = df['Location'].apply(lambda x : x.split(',')[1])

df['same_state'] = df.apply(lambda x : 1 if x.Location == x.Headquarters else 0,axis=1)

In [43]:
# Age of company
df['age'] = df.Founded.apply(lambda x : x if x<1 else 2023- x)

In [44]:
# Parsing of job description 
# python , excel , r studio , spark , aws 
df['python_yn'] = df['Job Description'].apply(lambda x : 1 if 'python' in x.lower() else 0 )

df['excel_yn'] = df['Job Description'].apply(lambda x : 1 if 'excel' in x.lower() else 0 )

df['r_yn'] = df['Job Description'].apply(lambda x : 1 if 'r-studio' in x.lower() else 0 )

df['spark_yn'] = df['Job Description'].apply(lambda x : 1 if 'spark' in x.lower() else 0 )

df['aws_yn'] = df['Job Description'].apply(lambda x : 1 if 'aws' in x.lower() else 0 )

In [45]:
df.drop(columns=['Unnamed: 0'],inplace=True)

In [49]:
df.to_csv('salary_data_cleaned.csv',index=False)